# Build system
target/
dist/
etc/
node/
node_modules/

# Build artifacts
application/src/main/resources/index.html
application/src/main/resources/server.bundle.js

# IDE from JetBrains
.idea/
*.iml

# IDE from Eclipse
.settings/
.project
.classpath
