# IDE from JetBrains
.idea/
*.iml

# IDE from Eclipse
.settings/
.project
.classpath

# Build system for Java
target/

# Build system for JavaScript
dist-server/
etc/
node/
node_modules/

# Generated build artifacts
angularj-universal-application/src/main/resources/
