# IDE from JetBrains
.idea/
*.iml

# IDE from Eclipse
.settings/
.project
.classpath

# Build system for Java
target/

# Build system for JavaScript
dist-*/
etc/
node/
node_modules/
package-lock.json

# Generated build artifacts
angularj-universal-application/src/main/resources/
